<div class="card">
  <div class="card-body">
    <h1 class="m-5">Login</h1>
    <p class="m-5">Login to access resouces in our system</p>
    <p><a href="/login" class="btn btn-primary text-white">Login via Keycloak OpenID</a></p>
    <p><a href="/login-saml" class="btn btn-primary text-white d-none">Login via Keycloak SAML</a></p>
  </div>
</div>